@charset "utf-8";
body {
	background-color: #fff;
	font: 14px Inconsolata, Monaco, monospace;
}



#content {
	padding-top: 40px;
	font-family: courier new;
	color: #ffffff;
	text-align: center;
}

#links {
	font-size: 20px;

}

a {
  color: #b01a28;
  text-decoration: none;
}