@charset "utf-8";
body {
	background-image: url();
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: left bottom;
	background-color: #9d8c6e;
	font: 12px Inconsolata, Monaco, monospace;
	text-transform: uppercase;
	text-decoration: none;
	color: #13212a
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #13212a;}


	#sidebar {
	padding: 0px;
	width: 150px;
	color: #13212a;
	position: relative;
	height: 100%;
	float: left;
}

        
	
	#sidebar ul {
	padding: 0px;
	list-style: none;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
	
	#sidebar li{
	background: none repeat scroll 0 0 #704214;
	margin: 0 0 4px;
	padding: 5px 6px 4px;
	text-transform: uppercase;
	border-right: #555 0px solid;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
	color: #FFFFFF;
}
    
    	#sidebar li:hover{
	border-right: #cdbea1 10px solid;
	padding: 5px 6px 4px 10px;
	text-decoration: none;
	color: #13212a;
}
	}
	
	#sidebar a:hover {
        background-color: ;
	text-decoration: none;
	color: #13212a;
	}
